body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #ff7e5f, #feb47b);
    color: #fff;
}

.container {
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.logo {
    width: 50px;
}

.login-box {
    background: #fff;
    color: #000;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

form input, form button {
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    background-color: #ff7e5f;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.captcha-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#captchaCode {
    font-weight: bold;
    font-size: 18px;
    color: #333;
}

#refreshCaptcha {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #007bff;
}

#captchaInput {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.error {
    display: none;
    color: red;
    font-size: 12px;
    margin-top: 5px;
    text-align: left;
}


.options {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: 10px 0;
}
